@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (scrollbar-color: #d1d5db #f3f4f6) {
  html {
    scrollbar-color: #d1d5db #f3f4f6;
    scrollbar-width: auto;
  }
}

input {
  @apply border-b-2 border-transparent;
}

input:not([type="number"]):not(:placeholder-shown):invalid {
  @apply border-b-2 border-red-500 text-red-500;
}

input:not([type="number"]):not(:placeholder-shown):valid {
  @apply border-b-2 border-green-500 text-green-500;
}

html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #d1d5db;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
}

body {
  @apply font-primary text-primary;
}

.container {
  @apply px-8 max-w-6xl mr-auto ml-auto;
}

section,
footer {
  @apply py-8 md:py-16;
}

.grid-spacer {
  @apply grid gap-8;
}

.flow-content > * + * {
  @apply mt-4;
}

.spacer {
  @apply mt-8 md:mt-12;
}

.btn {
  @apply inline-block tracking-wider bg-secondary-400 text-white border-2 border-transparent font-bold text-sm hover:border-red-400 hover:bg-white hover:text-secondary-400 transform hover:-translate-y-1.5 hover-default rounded-lg py-3 px-6;
}

input::placeholder {
  text-align: center;
}

.hover-default {
  @apply transition duration-300 ease-in-out;
}

/* To hide content from the page but be visible for screen readers */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

/* =============
   Typography
   =============*/

h1 {
  @apply text-5xl md:text-6xl lg:text-7xl font-light;
}

h2 {
  @apply text-4xl md:text-6xl;
}

.h3 {
  @apply text-4xl font-semibold;
}

/* =============
   Header
   =============*/
header {
  @apply py-4 fixed top-0 left-0 w-full z-50 bg-white shadow;
}

.dropdown-menu {
  @apply absolute z-40 top-full right-0 left-0 w-full py-8 gap-4 flex-col items-center bg-secondary-400 md:flex md:static md:flex-row md:top-auto md:w-auto md:py-0 md:bg-transparent;
}

.dropdown-menu a {
  @apply font-bold p-1 hover:text-white md:hover:text-secondary-400 hover-default;
}

.overlay {
  @apply absolute z-10 top-full right-0 left-0 h-screen w-screen bg-gray-200 opacity-60 cursor-pointer;
}

.shopping-cart-total {
  @apply h-4 w-4 py-1.5 px-1.5 rounded-full bg-secondary-400 text-white text-xs  absolute -top-1.5 -right-1 flex items-center justify-center;
}

/* =============
   Hero
   =============*/

.hero {
  @apply flex flex-col gap-8 md:flex-row md:gap-16 items-center text-center md:text-left;
}

.hero p {
  @apply text-2xl md:text-3xl text-gray-500 md:mt-8;
}

.hero form {
  @apply grid gap-4 sm:grid-cols-4 md:mt-8;
}

.hero input {
  @apply flex w-full p-3 bg-gray-100 rounded-lg sm:col-span-3;
}

/* =============
   Review Card
   =============*/

.review-card {
  @apply flow-content flex flex-col rounded-lg p-4 shadow;
}

/* =============
   Country Card
   =============*/

.country-card {
  @apply relative rounded-xl overflow-hidden;
}

.country-card > img {
  @apply h-56 w-full object-cover;
}

.country-card > h3 {
  @apply font-semibold absolute bottom-0 left-0 p-4 z-10 text-white;
}

.country-card > div {
  @apply absolute h-1/2 bottom-0 left-0 w-full bg-gradient-to-t from-black;
}

/* =============
   Shop
   =============*/

.clothing-card {
  @apply rounded-lg overflow-hidden;
}

.clothing-card img {
  @apply rounded-lg shadow hover:shadow-md;
}

.clothing-card h3 {
  @apply font-semibold text-lg hover:text-secondary-400 cursor-pointer hover-default;
}

/* =============
   Footer
   =============*/

.footer-links-transiton {
  @apply hover:text-secondary-400 transition duration-300;
}

.footer-row {
  @apply flex flex-col md:flex-row justify-center gap-4;
}

.social-icon {
  @apply inline-flex gap-2 justify-center hover:text-secondary-400 transition duration-300 ease-in;
}

/* =============
   Product Info Page
   =============*/

.colours-group {
  @apply flex gap-4 text-center;
}

.colours-group > * {
  @apply px-4 py-2 rounded-lg h-10 flex items-center justify-center cursor-pointer border border-black;
  min-width: 4.8rem;
}

.colour-block:hover {
  border: 2px solid black;
}

.colour-block.active {
  border: 2px solid black;
}

/* You can use your own css declerations and use it in the @apply like a utility class */
.colour-block > span {
  @apply font-semibold tracking-wide text-xs visually-hidden;
}

.select-size select {
  @apply border border-gray-200 rounded-lg pl-4 pr-8 py-4;
}

.select-size option {
  @apply bg-white;
}

/* =============
   Shopping Cart Page
   =============*/

.cart-item {
  @apply grid gap-6 sm:gap-8 grid-cols-3 rounded-lg p-6 sm:p-8 shadow max-w-xl md:max-w-none;
}

.cart-item img {
  @apply rounded-lg h-full object-cover;
}

.cart-item .more-info {
  @apply flex flex-wrap items-center gap-2 xs:gap-1 justify-between mt-3 xs:mt-auto;
}

.cart-item .size {
  @apply bg-white  font-bold text-sm rounded-lg py-1 px-3 border-2  inline-block;
}

.cart-item label {
  @apply font-medium text-sm md:text-base;
}

.cart-item input {
  @apply border border-gray-200 rounded-lg px-2 py-2 w-16;
}

.cart-item button {
  @apply text-secondary-400 text-sm border-b border-transparent hover:border-red-400 hover-default;
}

/* =============
   About Page
   =============*/

.about-item {
  @apply grid-spacer md:grid-cols-2 lg:gap-16 items-center;
}

.about-item img {
  @apply rounded-lg object-cover h-full shadow;
}

.about-item p {
  @apply text-base lg:text-xl text-gray-600 mt-4 lg:mt-8;
}

/* Profile */

.profile {
  @apply grid grid-cols-profile md:grid-cols-none lg:grid-cols-profile gap-4 lg:gap-6 items-center max-w-xs;
}

.profile > :first-child {
  @apply order-last;
}

.profile h3 {
  @apply text-xl font-bold;
}

.profile p {
  @apply text-gray-600 text-sm mt-1;
}

.profile img {
  @apply h-20 w-20 object-cover rounded-full;
}

/* =============
   City Page
   =============*/
.destination-hero {
  @apply sm:max-h-96 grid sm:grid-cols-5 sm:grid-rows-4 gap-4 mt-8 md:mt-16;
}

.destination-hero .hero-image {
  @apply h-full w-full object-cover rounded-lg;
}
.destination-hero .hero-image-1 {
  @apply sm:col-span-3 sm:row-span-4;
}

.destination-hero .hero-image-2 {
  @apply sm:col-span-2 sm:row-span-2;
}

.destination-hero .hero-image-3 {
  @apply sm:col-span-2 sm:row-span-2;
}

/* Carousel */

/* Needed to add this so I could customize scrollbar */
.carousel::-webkit-scrollbar {
  width: 16px;
}

.carousel::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #d1d5db;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
}

.carousel-card {
  min-width: 15.5rem;
  @apply relative;
}

.carousel-card .image {
  @apply h-48 bg-white rounded-lg overflow-hidden;
}

.carousel-card img {
  @apply h-full w-full object-cover hover:opacity-90 hover-default;
}

.carousel-card h3 {
  @apply text-lg font-semibold cursor-pointer hover:text-secondary-400 hover-default;
}

.carousel-card p {
  @apply text-sm text-gray-400 mt-1;
}

.carousel-card .heart {
  @apply bg-white p-1 inline-block absolute top-2 right-2 rounded-full;
}
